<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="cart_item.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="cart_item">
      <div class="cart_img_part">
        <img class="cart_item_img" src="../product_item/images/iphone.jpg" alt=""/>
      </div>
      <div class="in_cart_amount_div">
        <span class="in_cart_name">Iphone 11</span> 
        <span class="in_cart_amount_span">20</span>
      </div>
      <div class="incr_div">
        <button class="incr_in_cart" title="more"> <img src="../comp_images/plus.png" alt=""> </button>
      </div>
      <div class="decr_div">
        <button class="decr_in_cart" title="less"><img src="../comp_images/minus-button.png" alt=""></button>
      </div>
      <div class="rm_div">
        <button class="rm_i_button" title="remove"><img src="../comp_images/delete.png" alt=""></button>
      </div>
    </div>
  </body>
</html>
<script src="cart_item.js"></script>
