<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="confirmation_comp.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="conf_item">
      <div class="conf_img_part">
        <img class="conf_prod_img" src="../../../product_images/iphone.jpg" alt="">
      </div>
      <div class="in_conf_info_div">
        <span class="in_pending_orders_name">Iphone 11</span>
        <span class="in_pending_orders_amount">20</span>
      </div>
      <div class="cancel_pending_btn_div">
        <button class="cancel_pending_btn">cancel</button>
      </div>
    </div>
  </body>
</html>
